<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-zinc-900 text-white p-10">

    <div class="flex justify-end mb-5">
        <a href="/logout"
            class="text-white px-3 py-2 bg-purple-500 border-2 border-white rounded-md text-sm inline-block">
            Logout
        </a>
    </div>

    <div class="flex items-start gap-3 mb-10">
        <div class="w-10 h-10 overflow-hidden rounded-md">
            <img class="w-full h-full object-cover" src="/images/uploads/<%= user.profilepic %>" alt="<%= user.name %>'s profile picture">
        </div>
        <h3 class="text-3xl">
            <span class="font-light">Hello</span> <%= user.name %> 😁
        </h3>
    </div>

    <h5 class="mb-5">You can create a new post</h5>
    <form action="/post" method="post" class="space-y-2">
        <textarea
            class="w-full max-w-2xl p-3 bg-transparent border-2 border-zinc-800 rounded-md resize-none outline-none"
            name="content" placeholder="Dimag me kya chal rha hai?"></textarea>
        <input type="submit" value="Create new post"
            class="px-3 py-2 bg-blue-500 text-white rounded-md text-sm w-full max-w-2xl cursor-pointer transition duration-150 hover:bg-blue-600 active:bg-blue-700">
    </form>

    <div class="posts mt-20">
        <h3 class="text-zinc-500 mb-5">Your Posts</h3>
        <div class="postcontainer space-y-5">
            <% user.posts.forEach(function(post){ %>
                <div class="post p-6 rounded-md border-2 border-zinc-800 bg-zinc-800">
                    <h4 class="text-cyan-500 mb-2">
                        @<%= user.username %>
                    </h4>
                    <p class="text-sm tracking-tighter mb-2">
                        <%= post.content %>
                    </p>
                    <small class="block mb-2">
                        <%= post.likes.length %>
                    </small>
                    <div class="btns flex gap-4">
                        <a href="/like/<%= post._id %>" class="text-pink-500">
                            <%= post.likes.indexOf(user._id) == -1 ? "Like" : "Unlike" %>
                        </a>
                        <a href="/edit/<%= post._id %>" class="text-gray-500">Edit</a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

</body>

</html>
